/* Meta Level */

@import url('https://fonts.googleapis.com/css?family=Gafata&display=swap');
@import url('https://fonts.googleapis.com/css?family=Cinzel&display=swap');
body {
    font-family: 'Gafata', sans-serif;
    color: #ffffff;
}

html body header div {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4 {
    font-weight: 600;
}

/* Header */

/* Jumbotron */

#jumbotron {
    position: relative;
    background-attachment: fixed;
    background-image: url('../images/jumbotron.jpg');
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
    padding: 0;
}

#jumbotron p {
    font-size: 0.9em;
}

/* Logo */

#logo {
    text-align: right;
    float: right;
    background: rgba(0, 0, 0, 0.5);
    padding: 0.5em 1em 0em 0.5em;
}

#logo h1 {
    font-family: 'Cinzel';
    font-size: 1.5em;
    margin-right: -0.3em;
    margin-bottom: -0.5em;
}

#logo p {
    margin-right: -0.3em;
}

/* CTA */

#cta {
    position: absolute;
    top: 92vh;
    text-align: center;
    background: rgba(0, 0, 0, 0.5);
    height: 5vh;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    padding-top: 0.2em;
}

#cta strong {
    font-size: 1.1em;
    color: rgb(247, 210, 156);
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

#cta strong:hover {
    color: #C29C64;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

/* Navbar */

.navbar {
    position: fixed;
    z-index: 1;
    transition: 0.5s ease-in;
    -moz-transition: 0.5s ease-in;
    -webkit-transition: 0.5s ease-in;
    -o-transition: 0.5s ease-in;
}

.navbar-toggler {
    transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}

.navbar-toggler.scrolled {
    background-color: rgba(0, 0, 0, 0.6)
}

.navbar .navbar-nav .nav-item a {
    color: rgb(224, 223, 223);
    background-color: rgba(0, 0, 0, 0.6);
    padding-left: 0.12em;
    width: 5.8em;
    border-radius: 0.2em;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

.navbar .navbar-nav .nav-item a:hover {
    color: #C29C64;
}

/* Sections: General Styling */

.section-container {
    justify-content: center;
    text-align: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    font-size: 0.9em;
    margin: 0;
    padding: 0;
}

.section-card {
    border-radius: .5em;
    width: 90%;
    height: auto;
    margin: 5% auto;
    padding: 3%;
}

.section-card h1, h2, h3 {
    margin: 0;
}

/*Services Section */

#services-section {
    background-color: #594C45;
}

#services-section h3 {
    font-family: 'Cinzel';
    font-size: 1.5em;
}

.section-container-row {
    margin: 0;
}

/* .section-container-row col-12 {
    margin: 0;
    (Unnecessary?)
} */

#google-api-card {
    background-color: #C29C64;
}

#map {
    min-height: 360px;
    border-radius: .4em;
    margin: 1.5em;
}

/* #services-text-container {
    (May need this ID later)
} */

#services-text-card {
    background-color: #426A8C;
}

#services-text-card ul {
    justify-content: left;
    text-align: left;
    -webkit-box-pack: left;
    -ms-flex-pack: left;
    color: #f1e5e5;
    padding-right: .4em;
}

#services-text-card strong {
    color: rgb(247, 210, 156);
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

#services-text-card strong:hover {
    color: #C29C64;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

/* Restaurants Section */

/* Booking Section */

/* About Section */

/* Footer */

/* footer {
    background-color: #594C45;
    height: 70em;
    width: 100vw;
    margin: 0;
    padding: 1.1em; 
}   */



/* .copyright-text {
    padding-top: 8px;
    color: #73715F;
    opacity: 0.8;
}

.social-media-links li a i {
    color: #73715F;
    background: #CFCDBF;
    line-height: 10px;
    padding: 15px 12px 0px;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

.social-media-links li a i:hover {
    color: #A51723;
} */

/* Media Queries */

/* -Separated between Heights and Widths.
-Widths are divided into larger and and Smaller Widths.
-Comment headings for styles that target specific pages or 
sections (e.g. Google API Section, Restaurants Section, 
Footer etc.) are included within the Media Queries themselves. */

/* Heights */

/* Widths */

/* Larger Resolutions */

/* Smaller Resolutions */

@media (max-width: 767px) {

    /* #services-section.section-container-row#services-text-container#services-text-card {
        margin-bottom: 0em;
    } */
    /* (Trying to give Services-text less of a margin-bottom in lower resoltions where it stacks on top of the google-api, which would then return when they are side by side.) */

}

@media (max-width: 340px) {
    #cta {
        font-size: 0.9em;
    }
}