/* Meta Level */

@import url('https://fonts.googleapis.com/css?family=Gafata&display=swap');
@import url('https://fonts.googleapis.com/css?family=Cinzel&display=swap');

body {
    font-family: 'Gafata', sans-serif;
}

html body header div {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4 {
    font-weight: 600;
}


/* The Header */

/* Jumbotron */

#jumbotron {
    position: relative;
    background-attachment: fixed;
    background-image: url('../images/jumbotron.jpg');
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
}

#jumbotron p {
    font-size: .9em;
}


/* Logo */

#logo {
    text-align: right;
    float: right;
    color: #ffffff;
    background: rgba(0, 0, 0, 0.5);
    padding: .5em 1em 0em .5em;
}

#logo h1 {
    font-family: 'Cinzel';
    font-size: 1.5em;
    margin-right: -0.3em;
    margin-bottom: -0.5em;
}

#logo p {
    margin-right: -0.3em;
}


/* CTA */

#cta {
    position: absolute;
    top: 92vh;
    text-align: center;
    color: #ffffff;
    background: rgba(0, 0, 0, 0.5);
    height: 5vh;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    padding-top: 0.2em;
}

#cta strong {
    font-size: 1.1em;
    color: red;
}


/* Navbar */

.navbar {
    transition: 0.5s ease-in;
    -moz-transition: 0.5s ease-in;
    -webkit-transition: 0.5s ease-in;
    -o-transition: 0.5s ease-in;
}

.navbar-toggler {
    transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}


/* Google API Section */

#google-api-section {
    display: block;
    background-color: #594C45;
    text-align: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
}


/* EmailJS Section */

/* .section-container {
    display: block;
    text-align: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.section-container a {
    text-decoration: none;
    color: #A51723;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

.section-container a:hover {
    text-decoration: none;
    color: #707070;
}

.section-container-row {
    margin: 0;
} */

/* Restaurants Section */

/* .section-container {
    display: block;
    text-align: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.section-container a {
    text-decoration: none;
    color: #A51723;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

.section-container a:hover {
    text-decoration: none;
    color: #707070;
}

.section-container-row {
    margin: 0;
} */

/* About Us Section */

/* .section-container {
    display: block;
    text-align: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.section-container a {
    text-decoration: none;
    color: #A51723;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

.section-container a:hover {
    text-decoration: none;
    color: #707070;
}

.section-container-row {
    margin: 0;
} */

/* The Footer */

/* footer {
    background-color: #594C45;
    height: 70em;
    width: 100vw;
    margin: 0;
    padding: 1.1em; */
}

/* .copyright-text {
    padding-top: 8px;
    color: #73715F;
    opacity: 0.8;
}

.social-media-links li a i {
    color: #73715F;
    background: #CFCDBF;
    line-height: 10px;
    padding: 15px 12px 0px;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

.social-media-links li a i:hover {
    color: #A51723;
} */

/* Media Queries */

/* -Separated between Heights and Widths.
-Widths are divided into larger and and Smaller Widths.
-Comment headings for styles that target specific pages or 
sections (e.g. Google API Section, Restaurants Section, 
Footer etc.) are included within the Media Queries themselves. */

/* Heights */

/* Widths */

/* Larger Resolutions */

/* Smaller Resolutions */

@media (max-width: 340px) {
    #cta {
        font-size: 0.9em;
    }
}