/* Meta Level */

@import url('https://fonts.googleapis.com/css?family=Gafata&display=swap');
@import url('https://fonts.googleapis.com/css?family=Cinzel&display=swap');
body {
    font-family: 'Gafata', sans-serif;
    color: #ffffff;
}

html body header div {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4 {
    font-weight: 600;
}

/* Header */

/* Jumbotron */

#jumbotron {
    position: relative;
    background-attachment: fixed;
    background-image: url('../images/jumbotron.jpg');
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
    padding: 0;
}

#jumbotron p {
    font-size: 0.9em;
}

/* Logo */

#logo {
    text-align: right;
    float: right;
    background: rgba(0, 0, 0, 0.6);
    padding: 0.5em 1em 0em 0.5em;
    border-radius: 0px 0px 0px 5px;
}

#logo h1 {
    font-family: 'Cinzel';
    font-size: 1.5em;
    margin-right: -0.3em;
    padding-bottom: -0.5em;
}

#logo p {
    margin-right: -0.3em;
}

#logo p:nth-child(2) {
    margin-bottom: 0;
}

#logo p:nth-child(3) {
    margin-bottom: .5em;
}

/* CTA */

#cta {
    position: absolute;
    top: 92vh;
    text-align: center;
    height: 5vh;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    padding-top: 0.2em;
}

#cta a {
    text-decoration: none;
}

#cta strong {
    font-size: 1.1em;
    color: rgb(247, 210, 156);
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

#cta strong:hover {
    color: #C29C64;
}

#cta-background {
    background: rgba(0, 0, 0, 0.6);
    border-radius: 5px;
}

/* Navbar */

.navbar {
    position: fixed;
    z-index: 1;
    transition: 0.5s ease-in;
    -moz-transition: 0.5s ease-in;
    -webkit-transition: 0.5s ease-in;
    -o-transition: 0.5s ease-in;
}

.navbar-toggler {
    transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}

.navbar-toggler.scrolled {
    background-color: rgba(0, 0, 0, 0.6)
}

.navbar .navbar-nav .nav-item a {
    color: rgb(224, 223, 223);
    background-color: rgba(0, 0, 0, 0.6);
    padding-left: 0.12em;
    width: 5.8em;
    border-radius: 0.2em;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

.navbar .navbar-nav .nav-item a:hover {
    color: #C29C64;
}

/* Sections */

/* General Styling */

.section-container {
    display: block;
    justify-content: center;
    text-align: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    font-size: 0.9em;
    margin: 0;
    padding: 0;
}

.section-container-row {
    margin: 0;
}

.section-card {
    border-radius: .5em;
    width: 90%;
    height: 85%;
    margin: 13%;
    padding: 3%;
}

.section-card h1, h2, h3 {
    margin: 0;
}

/*Services Section */

#services-section {
    background-color: #594C45;
}

#services-section h3 {
    font-family: 'Cinzel';
    font-size: 1.5em;
}

#google-api-card {
    background-color: #426A8C;
}

#map {
    color: black;
    min-height: 360px;
    border-radius: .4em;
    margin: 1.5em;
}

#services-text-card {
    background-color: #426A8C;
}

#services-text-card h3 {
    margin-bottom: .5em;
}

#services-text-card p {
    margin-bottom: .6em;
}

#services-text-card ul {
    justify-content: left;
    text-align: left;
    -webkit-box-pack: left;
    -ms-flex-pack: left;
    color: #f1e5e5;
    padding-right: .4em;
}

#services-text-card span {
    color: rgb(247, 210, 156);
}

#services-text-card a {
    text-decoration: none;
}

#services-text-card strong {
    color: rgb(247, 210, 156);
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

#services-text-card strong:hover {
    color: #C29C64;
}

/* Bookings Section */

#bookings-section {
    margin: 0;
    padding: 0;
}

#contact-row {
    height: 80%;
    margin: 0;
    padding: 0;
}

#contact-background {
    position: relative;
    background-attachment: fixed;
    background-image: url('../images/bookings-background.jpg');
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    height: 100%;
    width: 100vh;
    margin: 0;
    padding: 0;
}

.contact-form {
    background-color: rgba(0, 0, 0, 0.6);
    color: #ffffff;
    border-radius: 10px;
    text-align: center;
    width: 75%;
    height: auto;
    margin: 10% 13%;
    padding: 2em;
}

.contact-form div {
    padding: 1em;
}

.contact-form h4 {
    font-family: 'Cinzel';
    padding-top: .7em;
}

.form-group {
    margin: auto;
    /* padding-bottom: .5em; */
    width: 80%;
}

form button.btn {
    color: rgb(236, 234, 234);
    background-color: #426A8C;
    font-weight: 700;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

form button.btn:hover {
    color: #C29C64;
}

/* Restaurants Section */

#restaurants-section {
    background-color: #594C45;
    padding: 2em 0;
}

#restaurants-section-header h1 {
    font-family: 'Cinzel';
    font-size: 1.5em;
    padding: 1em 0 .5em 0;
}

#restaurants-section-header p {
    font-size: 1em;
}

.restaurants-section-card {
    margin: 0;
    padding: 0;
}

/* Flip-card CSS modified from code by Arjun Khara (found here: https://www.youtube.com/watch?v=OV8MVmtgmoY). */

.flip-card-container {
    width: auto;
    height: 20em;
    margin: 3em;
    background: none;
}

.flip-card {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0;
    border-radius: 10px;
    transform-style: preserve-3d;
    transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
}

.flip-card h1 {
    font-family: 'Cinzel';
    font-size: 1.5em;
    padding-top: .5em;
}

.flip-card:hover {
    transform: rotateY(180deg);
}

#ichigo-ichie-background {
    background-image: url('../images/ichigo-ichie-cork.jpg');
}

#cliff-house-background {
    background-image: url('../images/cliff-house-waterford.jpg');
    background-position: bottom;
}

#lecrivain-background {
    background-image: url('../images/lecrivain-dublin.jpg');
}

#ox-background {
    background-image: url('../images/ox-belfast.jpg');
}

#kai-background {
    background-image: url('../images/kai-restaurant-galway.jpg');
}

#chart-house-background {
    background-image: url('../images/chart-house-dingle.jpg');
}

.flip-card-front {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    overflow: hidden;
    background-size: cover;
}

.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    overflow: hidden;
    background: #426A8C;
    text-align: center;
    transform: rotateY(180deg);
}

.flip-card-back p {
    padding: 0em 2em;
}

.flip-card-back a {
    text-decoration: none;
}

.flip-card-back strong {
    text-decoration: none;
    font-size: 1.1em;
    color: #f1e5e5;
    transition: all .6s ease-in-out;
    -moz-transition: all .6s ease-in-out;
    -webkit-transition: all .6s ease-in-out;
    -o-transition: all .6s ease-in-out;
}

.flip-card-back strong:hover {
    color: #C29C64;
}

/* About Section */

#about-section {
    margin: 0;
    padding: 0;
}

#about-row {
    margin: 0;
    padding: 0;
}

#about-background {
    position: relative;
    background-attachment: fixed;
    background-image: url('../images/about-us-background.jpg');
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    height: 100%;
    width: 100vh;
    margin: 0;
    padding: 0;
}

#about-text-section {
    background-color: rgba(0, 0, 0, 0.6);
    width: auto;
}

#about-text-section h1 {
    font-family: 'Cinzel';
    font-size: 1.5em;
    padding: .5em 0 1em 0;
}

#about-text-section p {
    font-size: 1em;
    padding: .5em;
}

#about-text-section p:nth-child(3) {
    font-size: 1.2em;
}

/* Footer */

footer {
    height: 4em;
    padding: 1.1em;
    background-color: #594C45;
}

.copyright-text {
    padding-top: 8px;
    color: #ffffff;
}

.social-media-links li a i {
    color: white;
    line-height: 10px;
    padding: 15px 12px 0px;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

.social-media-links li a i:hover {
    color: #C29C64;
}

/* Media Queries */

/* Larger Resolutions */

@media (min-width: 4000px) {
    body {
        font-size: 3em;
    }
    h1, h2, h3, h4 {
        font-size: 1.6em;
    }
    nav {
        margin-top: .5em;
        margin-left: .5em;
    }
    nav .navbar-toggler {
        font-size: 110%;
    }
    .section-card {
        height: 70%;
    }
    h4#contact-form-heading {
        font-size: 200%;
    }
    #input-name {
        font-size: .6em;
        margin: auto;
        width: 35%;
    }
    #input-email {
        font-size: .7em;
        margin: auto;
        width: 40%;
    }
    #text-input {
        font-size: .7em;
        margin: auto;
        width: 50%;
    }
    #contact-btn button {
        font-size: .7em;
    }
    .social-media-links li a i {
        margin-top: .3em;
        margin-left: .8em;
    }
}

@media (min-width: 3500px) and (max-width: 3999px) {
    .section-card {
        height: 70%;
    }
}

@media (min-width: 3000px) and (max-width: 3999px) {
    body {
        font-size: 2.5em;
    }
    h1, h2, h3, h4 {
        font-size: 1.5em;
    }
    nav {
        margin-top: .5em;
        margin-left: .5em;
    }
    nav .navbar-toggler {
        font-size: 110%;
    }
    h4#contact-form-heading {
        font-size: 200%;
    }
    #input-name {
        font-size: .6em;
        margin: auto;
        width: 35%;
    }
    #input-email {
        font-size: .6em;
        margin: auto;
        width: 40%;
    }
    #text-input {
        font-size: .6em;
        margin: auto;
        width: 55%;
    }
    #contact-btn button {
        font-size: .7em;
    }
    .social-media-links li a i {
        margin-top: .2em;
        margin-left: .6em;
    }
}

@media (min-width: 3000px) and (max-width: 3499px) {
    .section-card {
        height: 72%;
    }
}

@media (min-width: 2000px) and (max-width: 2999px) {
    body {
        font-size: 2em;
    }
    h1, h2, h3, h4 {
        font-size: 1.4em;
    }
    nav {
        margin-top: .5em;
        margin-left: .5em;
    }
    nav .navbar-toggler {
        font-size: 110%;
    }
    .section-card {
        height: 74%;
    }
    h4#contact-form-heading {
        font-size: 180%;
    }
    #input-name {
        font-size: .6em;
        margin: auto;
        width: 40%;
    }
    #input-email {
        font-size: .6em;
        margin: auto;
        width: 50%;
    }
    #text-input {
        font-size: .6em;
        margin: auto;
        width: 65%;
    }
    #contact-btn button {
        font-size: .7em;
    }
    .flip-card {
        font-size: .9em;
    }
    .social-media-links li a i {
        margin-top: .1em;
        margin-left: .5em;
    }
}

@media (min-width: 1500px) {
    .form-check-input {
        margin-top: .6em;
    }
    .social-media-links li a i {
        font-size: 160%;
    }
}

@media (min-width: 1500px) and (max-width: 1999px) {
    body {
        font-size: 1.5em;
    }
    h1, h2, h3, h4 {
        font-size: 1.3em;
    }
    nav {
        margin-top: .5em;
        margin-left: .5em;
    }
    nav .navbar-toggler {
        font-size: 115%;
    }
    .section-card {
        height: 77%;
    }
    h4#contact-form-heading {
        font-size: 180%;
    }
    #input-name {
        margin: auto;
        width: 50%;
    }
    #input-email {
        font-size: .7em;
        margin: auto;
        width: 55%;
    }
    #text-input {
        font-size: .7em;
        margin: auto;
        width: 70%;
    }
    #contact-btn button {
        font-size: .8em;
    }
    .flip-card {
        font-size: .9em;
    }
    .social-media-links li a i {
        margin-left: .3em;
    }
}

@media (min-width: 1200px) and (max-width: 1499px) {
    .section-card {
        height: 75%;
    }
    nav .navbar-toggler {
        font-size: 120%;
    }
}

@media (min-width: 1200px) {
    .flip-card-back p {
        padding-top: .4em;
    }
}

@media (min-width: 992px) and (max-width: 1499px) {
    #input-name {
        margin: auto;
        width: 50%;
    }
    #input-email {
        margin: auto;
        width: 55%;
    }
    #text-input {
        margin: auto;
        width: 65%;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .section-card {
        height: 80%;
    }
    .flip-card {
        font-size: .9em;
    }
}

@media (min-width: 768px) and (max-width: 1499px) {
    .copyright-text {
        padding-top: 2px;
    }
    .social-media-links {
        font-size: .7em;
    }
    .social-media-links li a i {
        padding-top: 12px;
    }
}

/* Smaller Resolutions */

@media (min-width: 992px) {
    #cta {
        font-size: 1.3em;
        height: 5.5%;
        margin-bottom: 1em;
    }
    #cta-background {
        margin-left: 25%;
        margin-right: 25%;
    }
}

@media (max-width: 991px) {
    #input-name {
        margin: auto;
        width: 70%;
    }
    #input-email {
        margin: auto;
        width: 70%;
    }
    #text-input {
        margin: auto;
        width: 80%;
    }
}

@media (min-width: 800px) and (max-width: 991px) {
    .section-card {
        height: 83%;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    #cta {
        font-size: 1.1em;
        height: auto;
    }
    #cta-background {
        margin-left: 25%;
        margin-right: 25%;
    }
    .flip-card-back p {
        padding-top: .2em;
    }
}

@media (min-width: 768px) {
    #logo {
        font-size: 1.5em;
    }
    #logo h1 {
        font-size: 1.6em
    }
}

@media (max-width: 767px) {
    .section-card {
        height: auto;
    }
    #services-section .section-container-row #services-text-card {
        margin-bottom: 0;
    }
    .copyright-text {
        padding-top: 0px;
    }
    .social-media-links li a i {
        font-size: 1.5em;
        padding: 7px 10px 10px;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    #logo {
        font-size: 1.2em;
    }
    #logo h1 {
        font-size: 1.5em
    }
    #cta-background {
        margin-left: 20%;
        margin-right: 20%;
    }
    .flip-card {
        font-size: 1.3em;
    }
}

@media (max-width: 575px) {
    #emailHelp {
        display: none;
    }
    #restaurants-section-header h1 {
        font-size: 1.5em;
    }
    #restaurants-section-header p {
        font-size: .8em;
    }
    .social-media-links {
        text-align: center;
    }
    .social-media-links li a i {
        font-size: 1.3em;
        padding: 7px 10px 10px;
    }
}

@media (max-width: 365px) {
    .flip-card {
        font-size: 0.8em;
    }
}

@media (max-width: 340px) {
    #cta {
        font-size: 0.9em;
    }
    #text-input {
        font-size: .9em;
    }
    #restaurants-section-header h1 {
        font-size: 1.4em;
    }
}